<body>
  <app-navbar-ins></app-navbar-ins>
  <div class="container">
  
      <h1>Materials for {{ courseName }}</h1>
    
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    
      <!-- Materials List -->
      <div *ngIf="materials.length > 0; else noMaterials">
        <div class="material-list">
          <div *ngFor="let material of materials" class="material-item">
            <h3>{{ material.title }}</h3>
            <p class="material-type"><strong>Type:</strong> {{ material.type }}</p>
            <p class="material-description"><strong>Description:</strong> {{ material.description || 'No description provided' }}</p>
            
            <!-- Button container with styling -->
            <div class="button-container">
              <button (click)="delete(material.title)">Delete</button>
              <a class="material-link" href="{{material.url}}">Open Link</a>
            </div>
          </div>
        </div>
      </div>
    
      <!-- No Materials Message -->
      <ng-template #noMaterials>
        <p class="no">No materials available for this course.</p>
      </ng-template>
    </div>
</body>
