<!-- <body>
    <app-navbar-student></app-navbar-student>
    <main>
      <div class="container">
        <div  class="course">
          <div  *ngFor="let course of studentCourses"  class="course-card">
            <div class="course-title">{{course.name}}</div>
            <div class="progress-container">
              <div class="progress-bar" [style.width.%]="course.progress"></div>
              <span class="progress-text">{{course.progress}}%</span>
            </div>
            <label class="grade-label">Grade:</label>
            <input type="text" class="grade-input" [(ngModel)]="course.grade" readonly>
          </div>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </body>
  -->