<body >
    <div class="container">
        <div class="left">
            <h1 class="logo">El<span>earn</span></h1>
            <h1 class="label">Login</h1>
            <h3> Welcome Back! Please enter your details</h3>
            <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="email">Email</label>
                    <br/>
                    <input type = "email" id = "mail" formControlName="email" placeholder="Enter Your Email."/>
                    <p *ngIf="this.LoginForm.get('email')?.errors?.['required'] && submit">Email is required</p>
                </div>
                <div>
                    <label for="password">Password</label>
                    <br/>
                    <input type = "password" id="password" formControlName="password" placeholder="Enter Your Password."/>
                    <p *ngIf="this.LoginForm.get('password')?.errors?.['required'] && submit">Password is required</p>
                </div>
                <p *ngIf="notExist">Invalid email or password. Please try again.</p>
                <p *ngIf="accountDeactivated">Account Deactivated by Admin.</p>
                <!-- <p>{{test}}</p> -->
                <button type = "submit" class="button">Log In</button> 
            </form>
            <p class="toSign">Don't have an account? <span [routerLink]="'/signup'" style="cursor: pointer; color: #3149e3;">Sign up</span></p>
        </div>
        <div class="right">
            <img src="removed2.png" alt="Login Image">
        </div>
    </div>
</body>